@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-start flex-nowrap">
    <div class="container photo-container d-flex justify-content-center align-items-center">
        <img class="photo" src="images/purple-image.jpeg" />
    </div>
    <div class="about-container d-flex flex-wrap align-items-center">
        <h1 class="display-3 name">Lorem Ipsun</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Habitasse platea dictumst quisque sagittis purus sit amet volutpat. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque.
            Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Non enim praesent elementum facilisis.          
    </div>
</div>
